<template>
  <div>
    <sc-text :field="fields.heading" />
    <template v-for="index in abnormalCount">
      <div :key="index">
        <div>
          <label for="conditionName">อวัยวะที่พบความผิดปกติ</label>
          <input type="text" id="conditionName" />
        </div>
        <div>
          <span>
            <label for="symptoms">อาการและ/หรือคําวินิจฉัยแพทย์</label>
            <input type="text" id="symptoms" />
          </span>
          <span>
            <label for="treatment">วิธีการรักษาที่เคยได้รับ</label>
            <input type="text" id="treatment" />
          </span>
          <span>
            <label for="surgery">การผ่าตัดเพื่อตรวจผลชิ้นเนื้อ</label>
            <input type="text" id="surgery" />
          </span>
        </div>
        <div>
          <span>
            <label for="location">สถานที่ตรวจ</label>
            <input type="text" id="location" />
          </span>
          <span>
            <label for="date">วันเดือนปี ที่ตรวจรักษา</label>
            <input type="text" id="date" />
          </span>
          <span>
            <label for="result">ผลการรักษา/อาการในปัจจุบัน</label>
            <input type="text" id="result" />
          </span>
        </div>
        <div>
          <span>
            <label for="latestAppointment">วันเดือนปี ที่พบแพทย์เพื่อตรวจรักษาหรือนัดล่าสุด</label>
            <input type="text" id="latestAppointment" />
          </span>
          <span>
            <label for="appReason">สาเหตุที่พบแพทย์หรือนัดพบแพทย์ครั้งล่าสุด</label>
            <input type="text" id="appReason" />
          </span>
        </div>
        <button @click="abnormalCount -= 1">
          Remove
        </button>
        <hr class="solid">
      </div>
    </template>
    <div>
      <button @click="abnormalCount = abnormalCount + 1">
        Add
      </button>
    </div>
  </div>
</template>

<script>
import { Text } from '@sitecore-jss/sitecore-jss-vue';

export default {
  name: 'DiseaseForm',
  components: {
    ScText: Text,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    abnormalCount: 0,
  }),
}
</script>
