<template>
  <div>
    <p>AppForm Component</p>
    <sc-text :field="fields.heading" />
    <sc-rich-text :field="fields.content" />
    <template v-for="(section, s_index) in render.formLayout.layouts">
      <div :key="section.sectionOrder + 1">
        <h4>{{ section.sectionTitle }}</h4>
        <div v-for="(group, g_index) in section.questionGroups" :key="group.groupId">
          <p>{{ group.groupTitle }}</p>
          <template v-if="group.questionGroupType === 'Address'">
            <div>
              <label for="homeNo">
                บ้านเลขที่
              </label>
              <input type="text" id="homeNo" />
              <label for="moo">
                หมู่
              </label>
              <input type="text" id="moo" />
            </div>
            <div>
              <label for="village">
                หมู่บ้าน
              </label>
              <input type="text" id="village" />
              <label for="building">
                อาคาร
              </label>
              <input type="text" id="building" />
            </div>
            <div>
              <label for="street">
                ถนน
              </label>
              <input type="text" id="street" />
              <label for="trok">
                ตรอก
              </label>
              <input type="text" id="trok" />
            </div>
            <div>
              <label for="soi">
                ซอย
              </label>
              <input type="text" id="soi" />
              <label for="province">
                จังหวัด
              </label>
              <input type="text" id="province" />
            </div>
            <div>
              <label for="amphoe">
                อำเภอ
              </label>
              <input type="text" id="amphoe" />
              <label for="tambon">
                ตำบล
              </label>
              <input type="text" id="tambon" />
            </div>
            <div>
              <label for="postcode">
                รหัสไปรษณีย์
              </label>
              <input type="text" id="postcode" />
            </div>
          </template>
          <template v-else>
            <div v-for="(question, q_index) in group.questions" :key="question.questionid">
              <div v-if="question.questionType === 'Dropdown'">
<!--                {{ question.questionTitle }}-->
                <template v-if="JSON.parse(question.prerequisiteQuestion).length > 0">
                  <span v-if="questionCondition(question.prerequisiteQuestion, group, section)">
                    {{ question.questionTitle }}
                    <select
                      v-model="
                        render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                        .valueAnswer
                      "
                    >
                      <option
                        v-for="option in question.choices"
                        :key="option.choiceId"
                        :value="option.choiceValue"
                      >
                        {{ option.choiceTitle }}
                      </option>
                    </select>
                  </span>
                </template>
                <template v-else>
                  {{ question.questionTitle }}
                  <select
                    v-model="
                      render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                        .valueAnswer
                    "
                  >
                    <option
                      v-for="option in question.choices"
                      :key="option.choiceId"
                      :value="option.choiceValue"
                    >
                      {{ option.choiceTitle }}
                    </option>
                  </select>
                </template>
                <!--              Selected: {{ render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer }}-->
              </div>
              <div v-else-if="question.questionType === 'Text'">
                <template v-if="JSON.parse(question.prerequisiteQuestion).length > 0">
                  <span v-if="questionCondition(question.prerequisiteQuestion, group, section)">
                    <label>
                      {{ question.questionTitle }}
                      <input
                        v-model="
                          render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                          .valueAnswer
                        "
                      />
                    </label>
                  </span>
                </template>
                <template v-else>
                  <label>
                    {{ question.questionTitle }}
                    <input
                      v-model="
                        render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                        .valueAnswer
                      "
                    />
                  </label>
                </template>
              </div>
              <div v-else-if="question.questionType === 'Single Choice'">
                <template v-if="JSON.parse(question.prerequisiteQuestion).length > 0">
                  <span v-if="questionCondition(question.prerequisiteQuestion, group, section)">
                    <label>
                      {{ question.questionTitle }}
                      <template v-if="getKeyAnswer(question.valueAnswer) !== null">
                        {{ getKeyAnswer(question.valueAnswer) }}
                        <div v-for="choice in question.choices" :key="choice.choiceId">
                          <span>
                            <input
                              type="radio"
                              :id="choice.choiceId"
                              :value="getValue(choice.choiceId)"
                              v-model="render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer"
                              @change="selectSingle(choice.choiceId, s_index, g_index, q_index)"
                            />
                            <label for="choice.choiceId">{{ choice.choiceTitle }}</label>
                          </span>
                        </div>
                      </template>
                      <template v-else>
                        <div v-for="choice in question.choices" :key="choice.choiceId">
                          {{ render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer }}
                          <span>
                            <input
                              type="radio"
                              :id="choice.choiceId"
                              :value="getValue(choice.choiceId)"
                              v-model="render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer"
                              @change="selectSingle(choice.choiceId, s_index, g_index, q_index)"
                            />
                            <label for="choice.choiceId">{{ choice.choiceTitle }}</label>
                          </span>
                        </div>
                      </template>
                    </label>
                  </span>
                </template>
                <template v-else>
                  <label>
                    {{ question.questionTitle }}
                    <template v-if="getKeyAnswer(question.valueAnswer) !== null">
                      {{ getKeyAnswer(question.valueAnswer) }}
                      <div v-for="choice in question.choices" :key="choice.choiceId">
                        <span>
                          <input
                            type="radio"
                            :id="choice.choiceId"
                            :value="getValue(choice.choiceId)"
                            v-model="render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer"
                            @change="selectSingle(choice.choiceId, s_index, g_index, q_index)"
                          />
                          <label for="choice.choiceId">{{ choice.choiceTitle }}</label>
                        </span>
                      </div>
                    </template>
                    <template v-else>
                      <div v-for="choice in question.choices" :key="choice.choiceId">
                        {{ render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer }}
                        <span>
                          <input
                            type="radio"
                            :id="choice.choiceId"
                            :value="getValue(choice.choiceId)"
                            v-model="render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index].valueAnswer"
                            @change="selectSingle(choice.choiceId, s_index, g_index, q_index)"
                          />
                          <label for="choice.choiceId">{{ choice.choiceTitle }}</label>
                        </span>
                      </div>
                    </template>
                  </label>
                </template>
              </div>
              <div v-else-if="question.questionType === 'Multiple Choice'">
                <label>
                  {{ question.questionTitle }}
                  <div v-for="choice in question.choices" :key="choice.choiceId">
                    <span>
                      <input
                        type="checkbox"
                        :id="choice.choiceId"
                        :value="choice.choiceValue"
                        v-model="
                          render.formLayout.layouts[s_index].questionGroups[g_index].questions[
                            q_index
                          ].valueAnswer
                        "
                      />
                      <label for="choice.choiceId"> {{ choice.choiceTitle }}</label>
                    </span>
                  </div>
                </label>
              </div>
              <div v-else-if="question.questionType === 'Date'">
                <label for="question.questionid">{{ question.questionTitle }}</label>
                <input
                  type="date"
                  :id="question.questionid"
                  value="2005-12-06"
                  v-model="
                    render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                      .valueAnswer
                  "
                />
              </div>
              <div v-else-if="question.questionType === 'Time'">
                <label for="question.questionid">{{ question.questionTitle }}</label>
                <input
                  type="time"
                  :id="question.questionid"
                  v-model="
                    render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                      .valueAnswer
                  "
                />
              </div>
              <div v-else-if="question.questionType === 'Number'">
                <label for="question.questionid">{{ question.questionTitle }}</label>
                <input
                  type="number"
                  :id="question.questionid"
                  step="any"
                  v-model="
                    render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                      .valueAnswer
                  "
                />
              </div>
              <div v-else-if="question.questionType === 'Text Script'">
                <p for="question.questionid">{{ question.questionTitle }}</p>
              </div>
              <div v-else-if="question.questionType === 'Record List'">
                <template v-if="questionCondition(question.prerequisiteQuestion, group)">
                  {{ question.questionTitle }}
                  <div>
                    <template v-if="question.recordPreview === 'Table View'">
                      <beneficiary-form
                        :choices="question.choices"
                      />
                    </template>
                    <template v-if="question.recordPreview === 'Card View'">
                      <disease-form
                        :choices="question.choices"
                      />
                    </template>
                  </div>
                  <label for="question.questionid">
                    {{ question.recordPreview }}
                  </label>
                </template>
              </div>
              <div v-else>
                <label for="question.questionid"
                  >{{ question.questionType }} else: {{ question.questionTitle }}</label
                >
                <input
                  type="text"
                  :id="question.questionid"
                  v-model="
                    render.formLayout.layouts[s_index].questionGroups[g_index].questions[q_index]
                      .valueAnswer
                  "
                />
              </div>
            </div>
          </template>
        </div>
        <br />
      </div>
    </template>
    <!--    {{ JSON.stringify(render.formLayout.layouts, null, '\t') }}-->
    <button @click="submitForm">Submit</button>
  </div>
</template>

<script>
import { Text, RichText } from '@sitecore-jss/sitecore-jss-vue';
// import json from '@/assets/jsonRender.json';
import uatForm from '@/assets/uatForm.json';
import BeneficiaryForm from "@/components/BeneficiaryForm";
import DiseaseForm from "@/components/DiseaseForm";
import { dataFetcher } from '../dataFetcher';

export default {
  name: 'AppForm',
  components: {
    DiseaseForm,
    BeneficiaryForm,
    ScText: Text,
    ScRichText: RichText,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
    params: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    render: uatForm,
    selected: null,
    picked: null,
  }),
  mounted() {
    this.getFormTemplate()
    console.log(this.$jss.routeData());
  },
  methods: {
    getFormTemplate() {
      dataFetcher('https://sc10sc.iigdata.com/hello', null).then(response => {
        console.log(response.data.data)
      })
    },
    submitForm() {
      console.log(JSON.stringify(this.render));
    },
    getKeyAnswer(answer) {
      if (answer && Object.keys(answer).length === 1 && answer.constructor === Object) {
        // console.log(Object.keys(answer));
        return Object.keys(answer)[0];
      } else {
        return null;
      }
    },
    questionCondition(condition, group, section) {
      const prereq = JSON.parse(condition)[0];
      // console.log(prereq)
      // console.log(group)
      let preQuestion = {}
      if (group.questions.find((q) => q.guid === prereq.question_id) === undefined) {
        preQuestion = section.questionGroups.map(sg => {
            return sg.questions.find(sq => sq.guid === prereq.question_id);
        }).filter(v => v !== undefined)[0]
      } else {
        preQuestion = group.questions.find(
          (q) => q.guid === prereq.question_id
        );
      }
      // console.log(preQuestion)
      const answer = this.getKeyAnswer(preQuestion.valueAnswer)
      let conditionKey = ''
      if (answer !== null){
        // console.log(preQuestion.valueAnswer)
        // console.log(this.getKeyAnswer(preQuestion.valueAnswer))
        conditionKey = preQuestion.choices.find(
          (c) => c.choiceId === this.getKeyAnswer(preQuestion.valueAnswer)
        ).choiceValue;
        // console.log(conditionKey)
      } else {
        conditionKey = preQuestion.valueAnswer
      }
      return prereq.choice.includes(conditionKey);
    },
    selectSingle(choiceId, s_index, g_index, q_index) {
      // console.log(choiceId);
      this.render.formLayout.layouts[s_index].questionGroups[g_index].questions[
        q_index
      ].valueAnswer = {};
      this.render.formLayout.layouts[s_index].questionGroups[g_index].questions[
        q_index
      ].valueAnswer[choiceId] = null;
    },
    getValue(value) {
      if (value && Object.keys(value).length === 1 && value.constructor === Object) {
        // console.log(value);
      } else {
        const result = {}
        result[value] = null
        return result
      }
    },
  },
};
</script>
