<template>
  <div>
    <sc-text :field="fields.heading" />
    <table style="border: solid 1px #dddddd">
      <tr>
        <th v-for="col in choices" style="border: solid 1px #dddddd" :key="col.guid">
          {{ col.choiceTitle }}
          <p v-if="col.isRequired" style="color: red">
            *
          </p>
        </th>
      </tr>
      <template v-for="index in personCount">
        <tr :key="index" style="border: solid 1px #dddddd">
          <td v-for="col in choices" :key="'ans' + col.guid" style="border: solid 1px #dddddd">
            <template v-if="col.additionalRequirement === 'Auto Number'">
              <input type="text" :value="index" readonly />
            </template>
            <template v-else-if="col.additionalRequirement === 'Dropdown'">
              <select>
                <option
                  v-for="value in JSON.parse(col.customValues)"
                  :key="value.pickListTitle"
                  :value="value.pickListValue"
                >
                  {{ value.pickListTitle }}
                </option>
              </select>
            </template>
            <template v-else-if="col.additionalRequirement === 'Text'">
              <input type="text" />
            </template>
            <template v-else-if="col.additionalRequirement === 'Number'">
              <input type="number" min="1" max="100" step="any"/>
            </template>
            <template v-else>
              {{ col.additionalRequirement }}
            </template>
          </td>
          <td style="border: solid 1px #dddddd">
            <button @click="personCount = personCount - 1">Remove</button>
          </td>
        </tr>
        <!--        <tr :key="index" style="border: solid 1px #dddddd">-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <input type="text" :value="index" readonly />-->
        <!--          </td>-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <input type="text" />-->
        <!--          </td>-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <input type="text" />-->
        <!--          </td>-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <input type="text" />-->
        <!--          </td>-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <input type="text" />-->
        <!--          </td>-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <input type="text" />-->
        <!--          </td>-->
        <!--          <td style="border: solid 1px #dddddd">-->
        <!--            <button @click="personCount = personCount - 1">Remove</button>-->
        <!--          </td>-->
        <!--        </tr>-->
      </template>
    </table>

    <button @click="personCount = personCount + 1" :disabled="personCount >= 3">
      Add
    </button>
  </div>
</template>

<script>
import { Text } from '@sitecore-jss/sitecore-jss-vue';

export default {
  name: 'BeneficiaryForm',
  components: {
    ScText: Text,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
    choices: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    personCount: 0,
  }),
};
</script>
