<template>
  <div>
    <sc-text :field="fields.heading" />
    <template v-for="index in denyCount">
      <div :key="index">
        <div>
          <label for="companyName">บริษัท</label>
          <input type="text" id="companyName" />
        </div>
        <div>
          <span>
            <label for="reason">ถูกประกันปฏิเสธการขอเอาประกันภัยเนื่องจาก</label>
            <input type="text" id="reason" />
          </span>
          <span>
            <label for="addition">รายละเอียดเพิ่มเติม</label>
            <input type="text" id="addition" />
          </span>
        </div>
        <button @click="denyCount -= 1">
          Remove
        </button>
        <hr class="solid">
      </div>
    </template>
    <div>
      <button @click="denyCount = denyCount + 1">
        Add
      </button>
    </div>
  </div>
</template>

<script>
import { Text } from '@sitecore-jss/sitecore-jss-vue';

export default {
  name: 'DeniedForm',
  components: {
    ScText: Text,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    denyCount: 0,
  }),
};
</script>
