<template>
  <div>
    <sc-text :field="fields.heading" />
    <template v-for="index in disabilityCount">
      <div :key="index">
        <div>
          <label for="disabilityType">ชนิดของการพิการ/ทุพพลภาพ</label>
          <input type="text" id="disabilityType" />
        </div>
        <div>
          <span>
            <label for="details">รายละเอียดเพิ่มเติม</label>
            <input type="text" id="details" />
          </span>
        </div>
        <button @click="disabilityCount -= 1">
          Remove
        </button>
        <hr class="solid">
      </div>
    </template>
    <div>
      <button @click="disabilityCount = disabilityCount + 1">
        Add
      </button>
    </div>
  </div>
</template>

<script>
import { Text } from '@sitecore-jss/sitecore-jss-vue';

export default {
  name: 'DisabilityForm',
  components: {
    ScText: Text,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    disabilityCount: 0,
  }),
}
</script>
