<template>
  <div>
    <sc-text :field="fields.heading" />
    <template v-for="index in diseaseCount">
      <div :key="index">
        <div v-for="col in choices" :key="col.guid">
          <template v-if="col.additionalRequirement === 'Dropdown'">
            <label :for="col.guid">{{ col.choiceTitle }}</label>
            <select :id="col.guid">
              <option
                v-for="value in JSON.parse(col.customValues)"
                :key="value.pickListTitle"
                :value="value.pickListValue"
              >
                {{ value.pickListTitle }}
              </option>
            </select>
          </template>
          <template v-else-if="col.additionalRequirement === 'Text'">
            <label :for="col.guid">{{ col.choiceTitle }}</label>
            <input :id="col.guid" type="text" />
          </template>
          <template v-else-if="col.additionalRequirement === 'Text Area'">
            <label :for="col.guid">{{ col.choiceTitle }}</label>
            <input :id="col.guid" type="text" />
          </template>
        </div>
        <button @click="diseaseCount -= 1">
          Remove
        </button>
        <hr class="solid" />
      </div>
    </template>
    <div>
      <button @click="diseaseCount = diseaseCount + 1">
        Add
      </button>
    </div>
  </div>
</template>

<script>
import { Text } from '@sitecore-jss/sitecore-jss-vue';

export default {
  name: 'DiseaseForm',
  components: {
    ScText: Text,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
    choices: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    diseaseCount: 0,
  }),
};
</script>
