<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="3">
        <v-row class="display-2">
          SCB Protect
        </v-row>
        <v-row class="display-2">
          คุ้มครองคุณ
        </v-row>
        <v-row class="mt-10">
          <v-select
            value="ฉันมีครอบครัว"
            :items="selectList"
          />
        </v-row>
      </v-col>
      <v-col cols="3">
        <v-spacer />
      </v-col>
      <v-col cols="6">
        <v-row class="display-2">
          ฉันต้องการดูแล
        </v-row>
        <v-row>
          <v-col
            v-for="type in listType"
            cols="4"
            :key="type"
          >
            <v-card
              height="150px"
              width="167px"
            >
              <v-card-title />
              <v-card-text class="text-center align-bottom">
                {{ type }}
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row justify="end">
          ดูความคุ้มครองทั้งหมด
        </v-row>
      </v-col>
    </v-row>
    <!--    <sc-text tag="h2" class="display-4" :field="fields.heading" />-->
    <!--    <sc-rich-text class="contentDescription" :field="fields.content" />-->
    <!--    <p>MyFirstComponent Component</p>-->
    <!--    <v-icon>mdi-access-point</v-icon>-->
    <!--    <v-btn outlined @click="clickButton">Hello</v-btn>-->
  </v-container>
</template>

<script>
import { dataFetcher } from '../dataFetcher';

export default {
  name: 'MyFirstComponent',
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    clickButton() {
      dataFetcher('https://webhook.site/8492d766-8dde-4363-81dc-18daae39d1ab').then((response) => {
        console.log(response);
      });
    },
  },
  data: () => ({
    selectList: ['ฉันมีครอบครัว', 'ฉันโสด'],
    listType: ['ครอบครัว', 'สุขภาพ', 'การเงิน', 'รถ', 'บ้าน', 'อื่นๆ'],
  }),
};
</script>
