<template>
  <div>
    <sc-text :field="fields.heading" />
    <template v-for="index in prescriptionCount">
      <div :key="index">
        <div>
          <label for="drugName">ชื่อยา</label>
          <input type="text" id="drugName" />
        </div>
        <div>
          <span>
            <label for="symptoms">อาการและ/หรือคําวินิจฉัยแพทย์</label>
            <input type="text" id="symptoms" />
          </span>
        </div>
        <button @click="prescriptionCount -= 1">
          Remove
        </button>
        <hr class="solid">
      </div>
    </template>
    <div>
      <button @click="prescriptionCount = prescriptionCount + 1">
        Add
      </button>
    </div>
  </div>
</template>

<script>
import { Text } from '@sitecore-jss/sitecore-jss-vue';

export default {
  name: 'DiseaseForm',
  components: {
    ScText: Text,
  },
  props: {
    fields: {
      type: Object,
      default: () => ({}),
    },
  },
  data: () => ({
    prescriptionCount: 0,
  }),
}
</script>
