<template>
  <div
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom"
  >
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <router-link to="/" class="text-dark">
        <img :src="logoImg" alt="Sitecore" />
      </router-link>
    </h5>
    <!-- note: `$t` is a computed property on the Vue instance, defined by the i18next plugin -->
    <nav class="my-2 my-md-0 mr-md-3">
      <router-link to="/styleguide" class="p-2 text-dark">
        {{ $t('เราคุ้มครองอะไรบ้าง') }}
      </router-link>
      <router-link to="/graphql" class="p-2 text-dark">
        {{ $t('ต้องการความช่วยเหลือ') }}
      </router-link>
      <router-link to="/mycomponent" class="p-2 text-dark">
        {{ $t('บทความ') }}
      </router-link>
      <router-link :to="{ path: '/appform/', params: { formId: 1 } }" class="p-2 text-dark">
        {{ $t('ประสบการณ์ลูกค้า') }}
      </router-link>
    </nav>
  </div>
</template>

<script>
import logo from './assets/scb_logo.png';

export default {
  name: 'Navigation',
  data() {
    return {
      contextButtonText: '',
      logoImg: logo,
    };
  },
  created() {
    // $t is a computed property, so it's not defined when initializing the `data` object.
    // Therefore, use the `created` hook to set the data.
    this.contextButtonText = this.$t('show-context-data');
  },
  // `toggleContextView` is provided from AppRoot
  inject: {
    toggleContextView: {
      type: Function,
    },
  },
  methods: {
    toggleContext() {
      this.toggleContextView();
      this.contextButtonText =
        this.contextButtonText === this.$t('hide-context-data')
          ? this.$t('show-context-data')
          : this.$t('hide-context-data');
    },
  },
};
</script>
